/* 
    Document   : index
    Created on : May 20, 2013, 1:52:49 AM
    Author     : Sintija
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#app{
    background-color: #33ff33;
    width:400px;
    height:400px;
    possition:absolute;
}
